env/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


data/
*.csv
*.tsv
*.json
!checkpoints/label2idx.json 

checkpoints/*.pth
checkpoints/tokenizer/

results/
*.png
*.jpg

wandb/
.gradio/

# HuggingFace cache 
.cache/

#IDE 
.vscode/
.idea/
*.swp

.dvc/cache/
.dvc/tmp/